<% include ../partials/header.ejs %>

<body>
    <h1>UserName: <%= displayName %> </h1>
    <a class="btn btn-primary btn-sm" href="User-Add" role="button">Add to Users.</a>
    <!--Repetable Template Row-->
    <% for (let count = 0; count < userList.length; count++) { %>
    <div class="row mb-1 p-4">
        <div class="col-md-12">
            <div class="row  border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative  ">
                <div class="col p-4 d-flex flex-column position-static rowItemMongo">
                    <strong class="d-inline-block mb-2 text-primary">Planet</strong>
                    <h3 class="mb-0"><%= userList[count].username %></h3>
                    <p class="card-text mb-auto"><%= userList[count].email %></p>
                    <p class="card-text mb-auto"><%= userList[count].password %></p>
                    <p class="card-text mb-auto"><%= userList[count].displayName %></p>
                    <p class="card-text mb-auto"><%= userList[count].created %></p>
                    <p class="card-text mb-auto"><%= userList[count].updated %></p>
                    <span class="span2">
                        <a href="edit/<%= userList[count]._id%>" class="btn btn-primary">Edit</a>
                        <a href="delete/<%= userList[count]._id%>" class="btn btn-danger">Delete</a>
                    </span>
                    <!--<a href="#" class="stretched-link">Continue reading</a>-->
                </div>

            </div>
        </div>
    </div>
    <% } %>

    <% include ../partials/footer.ejs %>